/* hero.css */
@import 'assets/CSS/bulma/css';

/* custom styles go here */
body {
    /* Example custom style */
    background-color: #1d0061;
}

/* Custom styling for the hero section */

/* Background color for the hero section */
.hero.is-primary {
    background-color: #3498db; /* Blue color, change as needed */
}

/* Title styling */
.hero .title {
    color: #fff; /* White text color, change as needed */
    font-size: 2.5rem; /* Example font size, adjust as needed */
    font-weight: bold;
}

/* Subtitle styling */
.hero .subtitle {
    color: #fff; /* White text color, change as needed */
}

/* Logo styling */
.hero img {
    max-height: 160px; /* Example maximum height for the logo, adjust as needed */
    max-width: 250%; /* Make the logo wider while maintaining aspect ratio */
    display: block; /* Center the logo */
    margin: 1rem auto; /* Center the logo horizontally with some top margin */
}

